#profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #7cf12e;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    text-align: center;
    line-height: 30px;
    float: right;
}

.user-panel img {
    height: 1.875rem !important;
    width: 1.875rem !important;
}
